.Basket_wrapper{
    margin: 150px 0 50px 0;
    
    h1{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 43px;
        color: #000000;
        margin-bottom: 40px;
    }
    .table{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 20px 0;
        border-bottom: 1px solid #000;
        &:last-child{
            border-bottom: 1px solid transparent;
        }
        .image{
            display: flex;
            align-items: flex-start;
            img{
                margin-right: 30px;
                height: 150px;
                width: 120px;
                border-radius: 4px;
                object-fit: cover;
            }
            .information{
                .price{
                    display: none;
                }
                h2{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 37px;
                    color: #000000;
                }
                h3{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    line-height: 37px;
                    font-size: 20px;
                    color: #333;
                }
                h4{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    line-height: 37px;
                    font-size: 17px;
                    color: #000;
                    display: flex;
                    align-items: center;
                    span{
                        color: #333;
                        display: block;
                        margin-left: 10px;
                    }
                }
                .del_count{
                    margin-top: 7px;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    .stock{
                        display: flex;
                        align-items: center;
                        width: 80px;
                        justify-content: space-between;
                        padding: 3px 10px;
                        border-radius: 10px;
                        background-color: #D9D9D9;
                        span{
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 20px;
                            color: #000;
                        }
                        
                    }
                    .delete_btn{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        span{
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 17px;
                            color: #FF6363;
                        }
                    }
                }
            }
        }
        .price{
            text-align: right;
            span{
                display: block;
                text-align: right;
            }
            .sale{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 37px;
                color: #000000;
                text-decoration: line-through;
                text-decoration-thickness: 0.1rem;
                text-decoration-color: #f00;
            }
            .title{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 30px;
                color: #000000;
            }
            .real_price{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 37px;
                color: #000000;
            }
        }
    }
}

.order{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 30px 0 40px 0;
    button{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 21px;
        color: #FFFFFF;
        background: #393A3F;
        border-radius: 20px;
        padding: 12px 30px;
    }
}

@media screen and (max-width:900px){
    .Basket_wrapper{
        margin: 150px 0 50px 0;
        
        h1{
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 30px;
        }
        .table{
            .image{
                display: flex;
                align-items: flex-start;
                .information{
                    h2{
                        font-size: 20px;
                        line-height: 27px;
                        margin-bottom: 0;
                    }
                    h3{
                        line-height: 20px;
                        font-size: 14px;
                        margin-bottom: 0px;
                    }
                    h4{
                        line-height: 17px;
                        font-size: 11px;
                        margin-top: 5px;
                    }
                }
            }
            .price{
                svg{
                    width: 120px;
                }
                .sale{
                    font-size: 16px;
                    line-height: 20px;
                    margin-bottom: 20px;
                }
                .title{
                    font-size: 14px;
                    line-height: 17px;
                    margin-bottom: 5px;
                }
                .real_price{
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 600px){
    .Basket_wrapper{
        margin: 100px 0 30px 0;
        h1{
            font-size: 24px;
            line-height: 29px;
        }
        .table{
            width: 100%;
            .image{
                display: flex;
                align-items: flex-start;
                width: 100%;
                img{
                    margin-right: 20px;
                    width: 100px;
                }
                .information{
                    width: 100%;
                    .price{
                        margin-top: 10px;
                        margin-bottom: 5px;
                        display: flex;
                        align-items: center;
                        span{
                            display: block;
                            text-align: right;
                        }
                        .has_in_shop{
                            display: none;
                        }
                        .sale{
                            font-size: 14px;
                            line-height: 17px;
                            margin-bottom: 0;
                            margin-right: 10px;
                        }
                        .title{
                            display: none;
                        }
                        .real_price{
                            font-size: 15px;
                            line-height: 18px;
                        }
                    }
                    h2{
                        font-size: 14px;
                        line-height: 17px;
                        margin-bottom: 12px;
                    }
                    h3{
                        line-height: 15px;
                        font-size: 12px;
                        margin-bottom: 5px;
                    }
                    h4{
                        line-height: 15px;
                        font-size: 12px;
                    }
                    .del_count{
                        margin-top: 12px;
                        display: flex;
                        align-items: center;
                        .stock{
                            display: flex;
                            align-items: center;
                            width: 77px;
                            height: 33px;
                            box-sizing: border-box;
                            justify-content: space-between;
                            padding: 3px 10px;
                            border-radius: 15px;
                            background-color: #D9D9D9;
                            svg{
                                width: 10px;
                                fill: #000;
                            }
                            span{
                                font-size: 15px;
                            }
                            
                        }
                        .delete_btn{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            span{
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 17px;
                                color: #FF6363;
                            }
                        }
                    }
                }
            }
            .price{
                display: none;
            }
        }
    }
}