
.vanilla{
width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  width: auto;
  box-shadow: none !important;
  background-color: none !important;
	&:hover{
		.heart{
			transform: scale(1);
		}
	}
}

:root {
	--color-blue: rgb(78, 101, 203);
	--color-purple: rgb(113,75,128);
	--color-pink: #bdbdbd;
	--color-red: #f00;
	
	--transition-time: 500ms;
	--transition-ease: cubic-bezier(.1,.7,.8,.3);
  }

  
  .heart #initial {
	stroke-width: 2;
	stroke: var(--color-pink);
	fill: var(--color-pink);
  }
	
	
  .heart #stroke {
	stroke-dasharray: 100;
	stroke-dashoffset: 100;
	stroke-linecap: round;
	stroke-width: 2.5;
  }
  
  .heart{
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px;
	transform: scale(0);
	transition: .2s;
	&.active{
		transform: scale(1);
			svg {
			  transform-origin: 50% 50%;
			  animation: heart var(--transition-time) cubic-bezier(.64,-1.5,.64,1.5);
			  animation-fill-mode: forwards;
			}
			#initial {
			  display: none;
			}
			#stroke {
			  animation: stroke var(--transition-time) var(--transition-ease);
			  animation-fill-mode: forwards;
			}
		  
  }}
  
  @keyframes heart {
	from {
	  transform: scale(1)
	}
	78% {
	  transform: scale(1.25)
	}
	to {
	  transform: scale(1)
	}
  }
  
  @keyframes stroke {
	from {
	  stroke: var(--color-blue);
	  fill: transparent
	  
	}
	50% {
	  stroke: var(--color-purple); 
	}
	85% {
	  fill: transparent
	}
	to {
	  stroke-dashoffset: 0;
	  stroke: var(--color-red);
	  fill: var(--color-red)
	}
  }





.cart-button {
	border: 3px solid #F7A302;
	position: relative;
	padding: 17px;
	width: 56px;
	height: 37px;
	
	border-radius: 17px;
	background-color: transparent;
	outline: none;
	cursor: pointer;
	color: #fff;
	transition: .3s ease-in-out;
	overflow: hidden;
}

.cart-button:active {
	transform: scale(.9);
}

.cart-button .fa-shopping-cart {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: -30%;
	font-size: 2em;
	transform: translate(-50%,-50%);
}
.cart-button .fa-box {
	position: absolute;
	z-index: 3;
	top: -21%;
	left: 60%;
	font-size: 1.2em;
	transform: translate(-50%,-50%);
}
.cart-button span {
	position: absolute;
	z-index: 3;
	left: 51%;
	top: 56%;
	font-size: 1.2em;
	color: #fff;
	transform: translate(-50%,-50%);
}
.cart-button span.add-to-cart {
	opacity: 1;
}
.cart-button span.added {
	opacity: 0;
}

.cart-button.clicked .fa-shopping-cart {
	animation: cart 1.5s ease-in-out forwards;
}
.cart-button.clicked .fa-box {
	animation: box 1.5s ease-in-out forwards;
}
.cart-button.clicked span.add-to-cart {
	animation: txt1 1.5s ease-in-out forwards;
}
.cart-button.clicked span.added {
	animation: txt2 1.5s ease-in-out forwards;
}
@keyframes cart {
	0% {
		left: -10%;
	}
	40%, 60% {
		left: 50%;
	}
	100% {
		left: 125%;
	}
}
@keyframes box {
	0%, 40% {
		top: -20%;
	}
	60% {
		top: 30%;
		left: 55%;
	}
	100% {
		top: 33%;
		left: 125%;
	}
}
@keyframes txt1 {
	0% {
		opacity: 1;
	}
	20%, 100% {
		opacity: 0;
	}
}
@keyframes txt2 {
	0%, 80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


.btn{
    text-decoration: none;
    padding: 5px 36px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
	cursor: pointer;
	font-family: 'inter';
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 27px;
	color: #FFFFFF;
	background-color: 
	#F7A302;
	border-radius: 20px;
	border: 1px solid transparent;
}

.btn:hover {
	background-color: transparent;
	border: 1px solid 
	#F7A302;
	color: 
	#F7A302;
}

@media screen and (max-width:1024px) and (min-width:800px) {
	.btn{
		padding: 0 25px;
		margin-bottom: 0;
		font-size: 12px;
		line-height: 23px;
		}
		.cart-button {
			border: 2px solid #F7A302;
			padding: 5px;
			height: 25px;
			width: 36px;
			border-radius: 20px;
		}
		
		.cart-button .fa-shopping-cart {
			font-size: 1em;
			left: -40%;
		}
		.cart-button .fa-box {
			font-size: 0.5em;
		}
		.cart-button span  {
			top: 60%;
		}
	
		.cart-button span svg {
			width: 15px;
			height: 15px;
		}
	
		.vanilla{
			.heart{
				transform: scale(1);
				top: 5px;
				svg{
					width: 23px;
				}
			}
		}
}

@media screen and (max-width: 768px) {
	.btn{
    padding: 5px 10px;
	font-size: 14px;
	width: 100%;
	margin-bottom: 10px;
	font-size: 15px;
	}
	.cart-button {
		border: 2px solid #F7A302;
		padding: 10px;
		width: 100%;
		height: 39px;
		border-radius: 20px;
	}
	
	.cart-button .fa-shopping-cart {
		font-size: 1.6em;
	}
	.cart-button .fa-box {
		font-size: 1em;
	}

	.cart-button span svg {
		width: 23px;
		height: 23px;
	}

	.vanilla{
		.heart{
			transform: scale(1);
			top: 3px;
			svg{
				width: 23px;
			}
		}
	}
}

