.tabbar{
  display: none;
}

.About_wrapper {
  margin-top: 160px;
  .holder {
    text-align: center;
    margin-bottom: 40px;
    h1 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 150%;
      color: #000000;
    }
  }
  .block_first {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .side {
      &:nth-child(1) {
        width: 59%;
      }
      &:nth-child(2) {
        width: 35%;
        height: 400px;
        position: relative;
        img {
          position: absolute;
          width: 80%;
          height: 80%;
          &:nth-child(1) {
            top: 0;
            right: 0;
          }
          &:nth-child(2) {
            bottom: 0;
            left: 0;
          }
        }
      }
      h1 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 150%;
        color: #000000;
        text-align: left;
        span {
          font-weight: 600;
          font-size: 35px;
        }
        margin-bottom: 30px;
      }
      p {
        text-align: left;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 150%;
        color: #000000;
      }
    }
  }
  .block_second {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
    .side {
      &:nth-child(1) {
        width: 69%;
        img {
          width: 100%;
          object-fit: cover;
          height: 409px;
        }
      }
      &:nth-child(2) {
        height: 335px;
        width: 30%;
        position: relative;
        margin-top: 75px;
        img {
          width: 283.34px;
          height: 289.85px;
          position: absolute;
          &:nth-child(2) {
            right: 35px;
            bottom: 33px;
          }
          &:nth-child(1) {
            bottom: 0px;
            right: 0;
          }
        }
      }
    }
  }
  .our_advantages {
    margin: 60px auto 90px auto;
    max-width: 989px;

    h1 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 150%;
      /* identical to box height, or 60px */
      text-align: center;

      color: #000000;
      margin-bottom: 60px;
    }
    .advantages {
      background: #232323;
      padding: 33px 67px;
      box-sizing: border-box;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .advantages_card {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        span {
          display: flex;
          text-align: center;
          &.number {
            align-items: center;
            justify-content: center;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 600;
            font-size: 35px;
            line-height: 51px;
            text-align: center;
            color: #F7A302;
          }
          svg{
            fill: #F7A302;
          }
          &.text {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 30px;
            text-align: center;
            max-width: 240px;
            color: #ffffff;
          }
        }
      }
    }
  }
  .recommends {
    h1 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 150%;
      color: #000000;
      margin: 90px 0 40px 0;
    }

    .recommends_cards {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
}

.writersingle_wrapper {
  .page_intro {
    margin: 120px auto 60px auto;
    width: 100%;
    max-width: 1076px;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 49px;
      color: #000000;
      text-align: center;
      margin: 40px 0 30px 0;
    }
    p {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 150%;
      color: #000000;
      text-align: justify;
      font-style: italic;
    }
    img {
      width: 756px;
      height: 415px;
      object-fit: cover;
    }
    .text_image{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
      margin-top: 60px;
      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #000000;
        text-align: justify;
      }
      .images{
        width: 40%;
        height: 350px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        img{
          border-radius: 10px;
          height: 45%;
          transition: .2s;
          &:nth-child(1){
            width: 35%;
          }
          &:nth-child(2){
            width: 60%;
          }
          &:nth-child(4){
            width: 35%;
          }
          &:nth-child(3){
            width: 60%;
          }
          &:hover{
            transform: scale(1.1);
          }
        }
      }
      p{
        width: 55%;
      }
    }
  }

  .writer_books {
    h1 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 49px;
      color: #000000;
      margin-bottom: 40px;
    }
    .books {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .book_card {
        width: 19%;
        margin-bottom: 60px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .About_wrapper {
    .block_first{
      margin: 0 30px 0 30px;
      .side{
        &:nth-child(2) {
          width: 35%;
          height: 400px;
          position: relative;
          img {
            width: 80%;
            height: 80%;
            &:nth-child(1) {
              top: 0;
              right: 0;
            }
            &:nth-child(2) {
              bottom: 0;
              left: 0;
            }
          }
        }
      }
    }
    .block_second {
      display: flex;
      justify-content: space-between;
      margin: 0 30px 0 30px;
      align-items: flex-end;
      .side {
        &:nth-child(1) {
          width: 60%;
          img {
            width: 100%;
            object-fit: cover;
            height: 309px;
          }
        }
        &:nth-child(2) {
          height: 270px;
          width: 37%;
          position: relative;
          margin-top: 0;
          img {
            width: 90%;
            height: 90%;
            position: absolute;
            &:nth-child(2) {
              left: 0;
              top: 0;
            }
            &:nth-child(1) {
              bottom: 0px;
              right: 0;
            }}
        }
      }
    }
  }
}



@media screen and (max-width: 1024px) {
  .tabbar{
    display: none;
  }
  
  .About_wrapper {
    margin-top: 100px;
    .holder {
      margin-bottom: 20px;
      h1 {
        font-size: 27px;
        line-height: 40px;
      }
    }
    .block_first {
      margin: 0 20px 60px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .side {
        &:nth-child(1) {
          width: 50%;
        }
        &:nth-child(2) {
          width: 45%;
          height: 250px;
          position: relative;
          img {
            position: absolute;
            width: 80%;
            height: 237px;
            &:nth-child(2) {
              bottom: 0;
              left: 0;
            }
            &:nth-child(1) {
              top: -20px;
              right: 0;
            }
          }
        }
        h1 {
          font-size: 20px;
          line-height: 32px;
          text-align: left;
          margin-bottom: 20px;
          span {
            font-weight: 600;
            font-size: 28px;
          }
        }
        p {
          text-align: left;
          font-size: 15px;
          line-height: 22px;
        }
      }
    }
    .block_second {
      display: flex;
      justify-content: space-between;
      margin-top: -20px;
      .side {
        &:nth-child(1) {
          width: 100%;
          img {
            width: 100%;
            object-fit: cover;
            height: 209px;
          }
        }
        &:nth-child(2) {
          display: none;
        }
      }
    }
    .our_advantages {
      margin: 40px auto;
      max-width: 989px;
  
      h1 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 30px;
      }
      .advantages {
        padding: 30px;
        .advantages_card {
          width: 30%;
          span {
            display: flex;
            text-align: center;
            &.number {
              font-size: 19px;
              line-height: 27px;
            }
            &.text {
              font-size: 15px;
              line-height: 18px;
            }
          }
        }
      }
    }
    .recommends {
      h1 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 150%;
        color: #000000;
        margin: 90px 0 40px 0;
      }
  
      .recommends_cards {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }
    }
  }
  
  .writersingle_wrapper {
    .page_intro {
      margin: 120px auto 60px auto;
      width: 100%;
      max-width: 1076px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h1 {
        font-size: 22px;
        line-height: 27px;
        margin: 40px 0 30px 0;
      }
      p {
        font-size: 20px;
        line-height: 22px;
        width: 85%;
      }
      img {
        width: 70%;
        height: 276px;
      }

      .text_image{
        flex-direction: column;
        margin-top: 30px;
        .images{
          width: 65%;
          margin-bottom: 20px;
        }
        p{
          width: 85%;
          font-size: 17px;
        }
      }
    }
  
    .writer_books {
      h1 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 49px;
        color: #000000;
        margin-bottom: 40px;
      }
      .books {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .book_card {
          width: 24%;
          margin-bottom: 60px;
        }
      }

      .text_image{
        flex-direction: column-reverse;
      }
    }
  }
}

@media screen and (max-width: 600px){
  .tabbar{
    display: block;
    margin-top: 110px;
    padding-bottom: 10px;
    border-bottom: 1px solid #393A3F;
    button{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 150%;
      color: #000000;
      display: inline-block;
      margin-right: 30px;
      position: relative;
      &::before{
        position: absolute;
        content: '';
        height: 3px;
        bottom: -12px;
        width: 0;
        border-radius: 100px;
        background-color: #F7A302;
        transition: .2s;
      }
      &.active{
        &::before{
          width: 100%;
        }
      }
    }
  }
  .About_wrapper {
    margin-top: 100px;
    .holder {
      margin-bottom: 30px;
      h1 {
        font-size: 24px;
        line-height: 36px;
      }
    }
    .block_first {
      margin-bottom: 30px;
      flex-direction: column-reverse;
      .side {
        &:nth-child(1) {
          width: 100%;
        }
        &:nth-child(2) {
          width: 100%;
          height: 250px;
          img {
            width: 245px;
            height: 250px;
            &:nth-child(2) {
              bottom: -15px;
              left: 10%;
            }
            &:nth-child(1) {
              top: -10px;
              right: 10%;
            }
          }
        }
        h1 {
          font-size: 18px;
          padding-top: 30px;
          line-height: 27px;
          span {
            font-weight: 600;
            font-size: 26px;
          }
          margin-bottom: 30px;
        }
        p {
          font-size: 15px;
          line-height: 22px;
        }
      }
    }
    .block_second {
      margin-top: 0;
      .side {
        &:nth-child(1) {
          width: 100%;
          img {
            width: 100%;
            height: 209px;
          }
        }
        &:nth-child(2) {
          display: none;
        }
      }
    }
    .our_advantages {
      margin: 40px auto 40px auto;
      h1 {
        font-family: "Montserrat";
        font-size: 26px;
        margin-bottom: 30px;
      }
      .advantages {
        flex-direction: column;
        .advantages_card {
          width: 100%;
          margin-bottom: 50px;
          text-align: center;
          &:last-child{
            margin-bottom: 8px;
          }
          span {
            &.number {
              font-family: "Montserrat";
              font-size: 26px;
              line-height: 37px;
              margin-bottom: 7px;
            }
            &.text {
              text-align: center;
              font-size: 20px;
              width: 60%;
              line-height: 24px;
            }
          }
        }
      }
    }
    .recommends {
      margin-top: 40px;
      h1 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 150%;
        color: #000000;
        margin: 90px 0 40px 0;
      }
  
      .recommends_cards {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }
    }
  }
  
  .writersingle_wrapper {
    .page_intro {
      margin: 40px auto 40px auto;
      h1 {
        font-size: 24px;
        line-height: 36px;
        margin: 30px 0;
      }
      p {
        font-size: 15px;
        line-height: 22px;
      }
      img {
        width: 321px;
        height: 193px;
        margin: 0 auto;
        object-fit: cover;
      }
      .text_image{
        .images{
          width: 80%;
          height: 250px;
        }
      }
    }
  
    .writer_books {
      h1 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 30px;
        margin-top: 30px;
        text-align: center;
      }
      .books {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .book_card {
          width: 49%;
          margin-bottom: 30px;
        }
      }
    }
  }
}