.Shopcontainer_wrapper{
    width: 100%;
    h1{
        font-family: 'inter';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 150%;
        color: #000000;
        text-align: center;
        margin-bottom: 40px;
    }
    .shopCards{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .card{
            width: 19%;
        }
    }
}