.slick_carousel_container .slick-slide{
    transition: .2s !important;
}

.slick_carousel_container .slick-arrow::before{
    display: none !important;
}

.slick_carousel_container .slick-arrow{
    top: -80px !important;
    right: 25px !important;
    left: auto !important;
}

.slick_carousel_container .slick-arrow.slick-prev{
    right: 85px !important;
}

.slick_carousel_container .slick-slide.slick-current{
    transform: scale(1.1);
}
.slick_carousel_container .slick-list{
    padding: 40px 100px;
}

@media screen and (max-width: 1024px) {
    .slick_carousel_container .slick-list{
        padding: 30px 100px;
    }
    .slick_carousel_container .slick-arrow{
        top: -57px !important;
    }
}