.profile_wrapper{
    margin-top: 150px;
    .inner{
        display: flex;
        align-items: center;
        gap: 157px;
        .profile_img{
            position: relative;
            img{
                width: 330px;
                height: 287px; 
                object-fit: cover;   
            }
            button{
                width: 52px;
                height: 52px;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 0.333);
                position: absolute;
                top: -24px;
                right: -20px;
                box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
                backdrop-filter: blur(2px);
                svg{
                    width: 40px;
                }
            }
        }
        .profile_info{
            position: relative;
            &::before{
                position: absolute;
                content: '';
                left: -70px;
                top: 0;
                width: 2px;
                height: 80%;
                background-color: #393A3F;
                bottom: 0;
                margin: auto;
            }
            .info_ul{
                text-align: left;
                display: flex;
                align-items: center;
                margin-bottom: 0;
                li{
                    display: block;
                    margin-bottom: 19px;
                    span{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 22px;
                        line-height: 27px;
                        color: #000;
                    }
                    &:nth-child(1){
                        span{
                            color: #8D8787;
                        }
                        width: 200px;
                        margin-right: 55px;
                    }
                }
            }
        } 
    }
    .balans_holder{
        margin: 102px 0 40px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 43px;
        color: #000000;
    }
    .balans{
        padding: 32px 24px;
        background: #393A3F;
        border-radius: 20px;
        max-width: 636px;
        justify-content: space-between;
        display: flex;
        align-items: center;
        span{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 37px;
            color: #FFFFFF;
        }
        .cash_title{
            display: flex;
            align-items: center;
            gap: 14px;
            .cach_icon{
                width: 62px;
                height: 54px;
                background: #F7A302;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
        }
        .cach_amount{
            span{
                font-weight: 600;
            }
        }
    }

    .my_orders{
        .order_holder{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 35px;
            line-height: 43px;
            color: #000000;
            text-align: left;
            margin: 100px 0 40px 0;
        }
    }
}

@media screen and (max-width: 1024px){
    .profile_wrapper{
        margin-top: 100px;
        .inner{
            .profile_img{
                img{
                    width: 197px;
                    height: 171px; 
                }
                button{
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    svg{
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            .profile_info{
                &::before{
                    left: -70px;
                    height: 80%;
                    bottom: 0;
                }
                .info_ul{
                    li{
                        margin-bottom: 12px;
                        span{
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }
                }
            }
        }
    
        .my_orders{
            .order_holder{
                font-size: 27px;
                line-height: 40px;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .profile_wrapper{
        .inner{
            gap: 57px;
            .profile_img{
                img{
                    width: 197px;
                    height: 170px; 
                }
                button{
                    top: 5px;
                    right: 5px;
                    svg{
                        width: 20px;
                    }
                }
            }
            .profile_info{
                &::before{
                    left: -30px;
                }
                .info_ul{
                    li{
                        margin-bottom: 10px;
                        span{
                            font-size: 18px;
                            line-height: 21px;
                        }
                        &:nth-child(1){
                            span{
                                color: #8D8787;
                            }
                            width: 120px;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    
        .my_orders{
            .order_holder{
                font-size: 20px;
                margin: 40px 0 20px 0;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .profile_wrapper{
        margin-top: 100px;
        .inner{
            flex-direction: column;
            .profile_img{
                position: relative;
                img{
                    width: 280px;
                    height: 243px; 
                }
            }
            .profile_info{
                &::before{
                    display: none;
                }
                .info_ul{
                    li{
                        margin-bottom: 18px;
                        span{
                            font-size: 18px;
                            line-height: 21px;
                        }
                        &:nth-child(1){
                            width: 170px;
                            margin-right: 55px;
                        }
                    }
                }
            }
        }
    
        .my_orders{
            .order_holder{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 35px;
                line-height: 43px;
                color: #000000;
                text-align: left;
                margin: 100px 0 40px 0;
            }
            .order_list{
                overflow: scroll;
                width: 100%;
            }
            .table{
                min-width: 600px;
                overflow: scroll;
            }
        }
    }
}