._2ILZE{
    background-color: transparent !important;
}

.__JnHV{
    font-family: 'montserrat' !important;
}

._2c50p{
    margin-top: 15px !important;
    
}

._-LJ2W{
    display: flex !important;
    justify-content: center !important;
}