.leave_comment{
    text-align: left;
}
.description{
    text-align: left;
}

.SingleBook_wrapper{
    .page_holder{
        padding: 150px 0 40px 0;
        border-bottom: 1px solid #393A3F;
        h2{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 34px;
            color: #000000;
        }
        .has_stock{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            span{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 21px;
                line-height: 37px;
                color: #000000;
            }
        }
    }

    .book_info{
        margin: 35px 0 82px 0;
        .inner{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .book_short{
                h5{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 37px;
                    color: #000000;
                    margin-bottom: 30px;
                }

                .book_price{
                    ul{
                        display: flex;
                        align-items: center;
                        margin-bottom: 30px;
                        li{
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 25px;
                            line-height: 30px;
                            color: #000000;
                            &:last-child{
                                font-weight: 600;
                                display: block;
                                padding-left: 15px;
                            }
                        }
                    }
                    .rating{
                        display: flex;
                        align-items: center;
                        margin-bottom: 30px;
                        span{
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                            color: #918888;
                        }
                    }
                    .price{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 30px;
                        line-height: 37px;
                        color: #000000;
                        
                    }
                }
            }
        }
    }

    .book_payment{
        .counter{
            display: flex;
            align-items: center;
            width: 160px;
            background: #FFFBFB;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
            border-radius: 20px;
            justify-content: space-between;
            padding: 8px 22px;
            box-sizing: border-box;
            margin-bottom: 15px;
            button{
                font-size: 35px;
            }
            span{
                font-size: 25px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                line-height: 30px;
                color: #000000;
            }
        }
        .add_basket{
            margin-bottom: 15px;
            button{
                display: flex;
                align-items: center;
                padding: 10px 49px;
                background: #393A3F;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
                border-radius: 20px;
                span{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    color: #FFFFFF;
                    display: block;
                    padding-left: 11px;
                }
            }
        }
        .order{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
            padding: 12px 29px;
            background: #393A3F;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
            border-radius: 20px;
        }
        .payment_ways{
            margin-top: 30px;
            h3{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #000000;
                margin-bottom: 10px;
            }
            ul{
                gap: 10px;
                display: flex;
                align-items: center;
                img{
                    width: 70px;
                }
            }
        }
    }
    .tab {
        border-bottom: 1px solid #77A1D9;
        margin-bottom: 40px;
        display: none;
        button {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          color: #393a3f;
          display: inline-block;
          padding-bottom: 15px;
          margin-right: 60px;
          position: relative;
          &:before {
            position: absolute;
            content: "";
            bottom: -2px;
            width: 0;
            background-color: #FFE600;
            height: 3px;
            border-radius: 5px;
            transition: 0.2s;
          }
          &.active {
            &:before {
              width: 100%;
            }
          }
        }
      }

    .description{
        position: relative;
        &::before{
            width: 100%;
            height: 1px;
            position: absolute;
            content: '';
            background-color: #77A1D9;
            top: 70px;
            left: 0;
        }
        h1{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 37px;
            color: #000000;
            margin-bottom: 70px;
        }
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 150%;
            color: #000000;
            padding-left: 50px;
        }
    }

    .leave_comment{
        margin-top: 60px;
        position: relative;
        &::before{
            width: 100%;
            height: 1px;
            position: absolute;
            content: '';
            background-color: #000;
            top: 70px;
            left: 0;
        }
        h1{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 37px;
            color: #000000;
            margin-bottom: 70px;
        }
        .comments_wrapper{
            .add_comment{
                padding: 13px 58px;
                display: flex;
                align-items: center;
                background: #393A3F;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
                border-radius: 20px;
                span{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    color: #FFFFFF;
                    display: block;
                    padding-left: 15px;
                }
            }
            .comment{
                margin: 60px 100px;
                .comment_card{
                    padding: 20px 25px;
                    box-sizing: border-box;
                    background: #FFFBFB;
                    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
                    border-radius: 10px 10px 10px 10px;
                    h3{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;
                        color: #000000;
                        margin-bottom: 6px;
                    }
                    .date{
                        display: block;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 17px;
                        color: #333333;
                        margin-bottom: 10px;
                        margin-top: 6px;
                    }
                    p{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 150%;
                        color: #000000;
                        margin-bottom: 17px;
                    }
                    .reply_like{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .reply{
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 22px;
                            color: #000000;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1251px) {
    .SingleBook_wrapper{
        .page_holder{
            padding: 120px 0 40px 0;
            h2{
                font-size: 22px;
                line-height: 22px;
            }
            .has_stock{
                span{
                    font-size: 16px;
                }
            }
        }
    
        .book_info{
            margin: 20px 0 70px 0;
            .inner{
                .book_image{
                    width: 40%;
                }
                .book_short{
                    h5{
                        font-size: 22px;
                        text-align: left;
                    }
    
                    .book_price{
                        ul{
                            margin-bottom: 20px;
                            li{
                                font-size: 20px;
                                line-height: 18px;
                                &:last-child{
                                    padding-left: 10px;
                                }
                            }
                        }
                        .rating{
                            margin-bottom: 18px;
                            span{
                                font-size: 14px;
                            }
                        }
                        .price{
                            font-size: 17px;
                            line-height: 20px;
                            text-align: left;
                            display: block;
                        }
                    }
                }
            }
        }
    
        .book_payment{
            .counter{
                width: 86px;
                padding: 4px 12px;
                margin-bottom: 8px;
                button{
                    font-size: 25px;
                }
                span{
                    font-size: 13px;
                    line-height: 30px;
                    font-weight: bold;
                }
            }
            .add_basket{
                margin-bottom: 8px;
                button{
                    padding: 6px 20px;
                    svg{
                        width: 20px;
                    }
                    span{
                        font-size: 11px;
                        line-height: 13px;
                    }
                }
            }
            .order{
                font-size: 11px;
                line-height: 13px;
                padding: 12px 29px;
                display: block;
            }
            .payment_ways{
                margin-top: 16px;
                h3{
                    font-size: 11px;
                    line-height: 14px;
                    text-align: left;
                }
                ul{
                    gap: 10px;
                    img{
                        width: 50px;
                    }
                }
            }
        }
    
        .description{
            position: relative;
            &::before{
                top: 40px;
            }
            h1{
                text-align: left;
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 36px;
            }
            p{
                font-size: 15px;
                line-height: 22px;
                text-align: left;
            }
        }
    
        .leave_comment{
            margin-top: 40px;
            text-align: left;
            &::before{
                top: 40px;
            }
            h1{
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 36px;
            }
            .comments_wrapper{
                .add_comment{
                    padding: 7px 29px;
                    svg{
                        width: 13px;
                    }
                    span{
                        font-size:11px;
                        line-height: 14px;
                        padding-left: 10px;
                    }
                }
                .comment{
                    margin: 30px 60px;
                    .comment_card{
                        h3{
                            font-size: 12px;
                            line-height: 14px;
                        }
                        .date{
                            font-size: 11px;
                            line-height: 13px;
                        }
                        p{
                            font-size: 14px;
                            line-height: 21px;
                            margin-bottom: 15px;
                        }
                        .reply_like{
                            .reply{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    .SingleBook_wrapper{
        .page_holder{
            padding: 120px 0 40px 0;
            h2{
                font-size: 22px;
                line-height: 22px;
            }
            .has_stock{
                span{
                    font-size: 16px;
                }
            }
        }
    
        .book_info{
            margin: 20px 0 70px 0;
            .inner{
                .book_image{
                    width: 280px;
                }
                .book_short{
                    h5{
                        font-size: 17px;
                    }
                    .book_price{
                        ul{
                            margin-bottom: 13px;
                            li{
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media  screen and (max-width: 750px) and (min-width:601px) {
    .SingleBook_wrapper{
        .book_info{
            .inner{
                flex-wrap: wrap;
                gap: 40px;
                justify-content: flex-start;
                .book_image{
                    width: 100%;
                }
            }
        }
    }
}
@media screen and (max-width: 600px){
    .SingleBook_wrapper{
        .page_holder{
            padding: 100px 0 30px 0;
            border-bottom: 1px solid transparent;
            h2{
                font-size: 26px;
                line-height: 31px;
                text-align: center;
            }

            .has_stock{
                margin-bottom: 30px;
                span{
                    font-size: 16px;
                    line-height: 21px;
                }
            }
        }
    
        .book_info{
            margin: 35px 0 82px 0;
            .inner{
                flex-direction: column;
                .book_image{
                    width: 100%;
                }
                .book_short{
                    margin-top: 50px;
                    h5{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 30px;
                        line-height: 37px;
                        color: #000000;
                        margin-bottom: 30px;
                    }
    
                    .book_price{
                        ul{
                            margin-bottom: 20px;
                            li{
                                font-size: 18px;
                                line-height: 21px;
                                &:last-child{
                                    font-weight: 600;
                                    display: block;
                                    padding-left: 15px;
                                }
                            }
                        }
                        .price{
                            font-size: 22px;
                            line-height: 26px;
                            text-align: center;
                            display: block;
                            margin-bottom: 40px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    
        .book_payment{
            
            width: 100%;
            .payment{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        .tab{
            display: block;
        }
    
        .description{
            text-align: left;
            position: relative;
            &.active{
                display: none;
            }
            &::before{
                display: none;
            }
            h1{
                font-size: 18px;
                line-height: 21px;
                margin-bottom: 20px;
                text-align: center;
            }
            p{
                font-size: 15px;
                line-height: 22px;
                padding-left: 0;
            }
        }
    
        .leave_comment{
            margin-top: 30px;
            text-align: left;
            &.active{
                display: none;
            }
            &::before{
                display: none;
            }
            h1{
                text-align: center;
                font-size: 18px;
                line-height: 21px;
                margin-bottom: 30px;
            }
            .comments_wrapper{
                .add_comment{
                    margin-bottom: 30px;
                    padding: 8px 29px;
                    span{
                        font-size: 14px;
                        line-height: 17px;
                    }
                }
                .comment{
                    margin: 0px 0px 20px 0;
                    .comment_card{
                        padding: 15px;
                        h3{
                            font-size: 15px;
                            line-height: 18px;
                         }
                        .date{
                            font-size: 12px;
                            line-height: 14px;
                        }
                        p{
                            font-size: 14px;
                            line-height: 21px;
                        }
                        .reply_like{
                            .reply{
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 18px;
                                line-height: 22px;
                                color: #000000;
                            }
                        }
                    }
                }
            }
        }
    }
}