.home_wrapper {
  background-color: #fff;
}
.home_wrapper .inner .banner {
  padding: 200px 0 100px 0;
  margin: 0 auto;
  width: 1076px;
  height: 517.92px;
}
.home_wrapper .inner .banner .slider_wrapper {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  margin: 0 auto;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 70px 81px 0 98px;
  box-sizing: border-box;
}
.home_wrapper .inner .banner .slider_wrapper .slider_cards {
  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between;
}
.home_wrapper .inner .banner .slider_wrapper .slider_cards h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 150%;
  color: #000000;
  max-width: 500px;
  margin-bottom: 70px;
}
.home_wrapper .inner .banner .slider_wrapper .slider_cards button {
  background: #393A3F;
  border-radius: 20px;
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  padding: 12px 32px;
}
.home_wrapper .inner .banner .slider_wrapper .slider_cards img {
  width: 429px;
  height: 325px;
  -o-object-fit: contain;
     object-fit: contain;
}
.home_wrapper .sales_ads {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
.home_wrapper .sales_ads .sale_card {
  width: 33.34%;
}
.home_wrapper .sales_ads .sale_card img {
  width: 100%;
}
.home_wrapper .products .filter {
  display: none;
}

@media screen and (max-width: 500px) {
  .home_wrapper {
    background-color: #fff;
  }
  .home_wrapper .inner .banner {
    padding: 100px 0 70px 0;
    width: 100%;
    height: 469px;
  }
  .home_wrapper .inner .banner .slider_wrapper {
    padding: 0;
    background-image: url("../../assets/images/Union (4).png") !important;
    background-size: 404px, 469px !important;
    background-position: center;
  }
  .home_wrapper .inner .banner .slider_wrapper svg {
    width: 45px !important;
    height: 45px !important;
  }
  .home_wrapper .inner .banner .slider_wrapper .slider_cards {
    flex-direction: column-reverse !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .home_wrapper .inner .banner .slider_wrapper .slider_cards h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 33px;
  }
  .home_wrapper .inner .banner .slider_wrapper .slider_cards button {
    font-size: 17px;
  }
  .home_wrapper .inner .banner .slider_wrapper .slider_cards img {
    width: 300px;
    height: 200px;
    margin-bottom: 11px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .home_wrapper .inner .banner .slider_wrapper .slider_cards .left_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home_wrapper .sales_ads {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    overflow-y: scroll;
  }
  .home_wrapper .sales_ads .sale_card {
    min-width: 80%;
  }
  .home_wrapper .sales_ads .sale_card img {
    width: 100%;
  }
  .home_wrapper .products .inner {
    display: none;
  }
  .home_wrapper .products .filter {
    display: block;
  }
  .home_wrapper .products .filter h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 118%;
    color: #393A3F;
    text-align: center;
    margin: 30px 0;
  }
  .home_wrapper .products .filter .filter_btn button {
    display: flex;
    align-items: center;
    padding: 10px 32px;
    box-sizing: border-box;
    border: 2px solid #393A3F;
    border-radius: 15px;
  }
  .home_wrapper .products .filter .filter_btn button span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    display: block;
    margin-right: 36px;
  }
  .home_wrapper .products .filter .filter_results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .home_wrapper .products .filter .filter_results .result_card {
    width: 48%;
    margin-bottom: 30px;
  }
}/*# sourceMappingURL=main.module.css.map */