h1 {
  margin: 0;
}

.home_wrapper {
  .inner {
    .banner {
      margin: 0 auto;
      width: 100%;
      .slider_wrapper {
        padding-top: 180px;
        min-height: 550px;
        display: flex;
        overflow: hidden;
        position: relative;
        align-items: center;
        .blue_square {
          right: 0;
          top: 0;
          position: absolute;
          width: 30%;
          height: 100%;
          background-color: #222;
          z-index: 1;
        }
        .back_image {
          z-index: 1;
          left: 0;
          width: 70%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          position: absolute;
          top: 0;
          &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #fff;
          }
        }
        .slider {
          z-index: 1;
          position: relative;
          width: 100%;
          max-width: 1100px;
          margin: auto;
          padding-bottom: 70px;
          &::before {
            position: absolute;
            content: "";
            width: 50%;
            height: 375px;
            right: 20px;
            border-radius: 5px;
            background-color: #e9e8e8;
            top: -40px;
          }
          .count_slide {
            position: absolute;
            width: 65px;
            height: 65px;
            background-color: rgba(34, 34, 34, 0.444);
            left: -45px;
            right: 0;
            bottom: 145px;
            margin: auto;
            overflow: hidden;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            span {
              color: #fff;
              font-weight: 600;
              font-size: 30px;
            }
          }
          .slider_wrapper_slides {
            height: 375px;
            .btn_16 {
              border: none;
              color: #fff;
              width: 130px;
              height: 40px;
              border-radius: 5px;
              padding: 10px 25px;
              font-family: "Lato", sans-serif;
              font-weight: 500;
              background: #fff;
              cursor: pomontserrat;
              transition: all 0.3s ease;
              position: relative;
              display: inline-block;

              outline: none;
            }
            .btn_16 {
              background: #222;
              border: none;
              z-index: 1;
            }
            .btn_16:after {
              position: absolute;
              content: "";
              width: 0;
              height: 100%;
              top: 0;
              right: 0;
              z-index: -1;
              background-color: rgb(85, 85, 85);
              border-radius: 5px;

              transition: all 0.3s ease;
            }
            .btn_16:hover {
              color: #fff;
            }
            .btn_16:hover:after {
              left: 0;
              width: 100%;
            }
            .btn_16:active {
              top: 2px;
            }
            .bla_bla {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
            }
            .slider_image {
              width: 55%;
              display: flex;
              align-items: flex-start;

              .sale_text {
                background-position: center;
                background-size: contain;
                min-width: 193px;
                min-height: 189px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h1 {
                  font-family: "montserrat";
                  font-style: normal;
                  font-weight: 700;
                  font-size: 60px;
                  line-height: 150%;
                  color: #000000;
                  margin-bottom: 0;
                }
                span {
                  font-family: "montserrat";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 30px;
                  line-height: 150%;
                  color: #000000;
                }
              }
              img {
                width: 372px;
                height: 248px;
                margin-left: 40px;
                background-size: contain;
              }
            }
            .slider_text {
              width: 60%;
              display: flex;
              justify-content: flex-end;
              flex-direction: column;
              align-items: flex-end;
              h3 {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 600;
                font-size: 45px;
                white-space: nowrap;
                line-height: 150%;
                color: #000000;
                padding: 0 0 20px 0;
              }
              p {
                font-size: 18px;
                color: #000;
                font-family: "Montserrat";
                font-weight: 600;
                line-height: 32px;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
  .sales_ads {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    .sale_card {
      width: 33.34%;
      img {
        width: 100%;
      }
    }
  }
  .result_header {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    .result_inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px;
      .cate_name {
        width: 23%;
        text-align: left;
        h2 {
          margin: 0;
          font-family: "montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;

          color: #000000;
        }
      }
      .result_count {
        width: 75%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 63px;
        h3 {
          margin: 0;
          font-family: "montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: #222531;
          span {
            color: #f7a302;
          }
        }
        button {
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          padding: 12px 30px;
          border-radius: 30px;
          font-family: "montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: #f7a302;
          position: relative;
          background-color: #fff;
          &::before {
            position: absolute;
            content: "";
            right: -40px;
            width: 24px;
            top: 17px;
            background-repeat: no-repeat;
            height: 100%;
            background-image: url("../../assets/icons/Arrow.svg");
          }
        }
      }
    }
  }
  .products {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .inner {
      padding: 0;
      padding: 40px 0 0 40px;
      box-sizing: border-box;
      width: 77%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      .showing_cards {
        width: 24%;
        margin-bottom: 40px;
      }
    }
    .sidebar {
      margin-top: 40px;
      padding: 10px 0;
      width: 22%;
      background-color: #fff;
      box-sizing: border-box;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      .category_ul {
        text-align: left;
        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;
          padding: 15px 20px;
          text-align: left;
          transition: 0.2s;
          &:hover {
            background-color: #e6e6e6;
          }
          .category_tag {
            min-width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #232323;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #fff;
          }
          .category_btn {
            text-align: left;
            font-family: "montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            color: #000;
            width: 130px;
          }
          .category_count {
            font-family: "montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #58667e;
          }
        }
      }
    }
  }
  .most_cate {
    margin-bottom: 60px;
    width: 100%;
    h1 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 150%;
      color: #393a3f;
      margin-bottom: 30px;
      margin-top: 40px;
    }
    .cates_wrapper {
      justify-content: space-between;
      display: flex;
      margin-bottom: 40px;
      .big_cate {
        padding: 0 10px;
        border-radius: 10px;
        box-sizing: border-box;
        width: 32%;
        justify-content: center;
        flex-direction: column;
        background: #7a739178;
        height: 210px;
        overflow: hidden;
        display: flex;
        align-items: center;
        span {
          margin-top: 20px;
          display: block;
          padding-left: 5px;
          font-family: "Montserrat";
          font-weight: 500;
          font-size: 18px;
          font-style: normal;
          color: #fff;
        }
      }
      .small_cates {
        height: 210px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 67%;
        .cate {
          background: #7a739178;
          border-radius: 10px;
          height: 100px;
          display: flex;
          padding: 0 10px;
          box-sizing: border-box;
          align-items: center;
          img {
            width: 30%;
            height: 80px;
            object-fit: cover;
          }
          span {
            display: block;
            padding-left: 15px;
            word-break: break-all;
            max-width: 140px;
            font-size: 15px;
            font-weight: 500;
            color: #fff;
            font-family: "Montserrat";
           
          }
          &:nth-child(1) {
            width: 36%;
            margin-bottom: 8px;
          }
          &:nth-child(2) {
            width: 36%;
          }
          &:nth-child(3), &:nth-child(4) {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            span{
              padding-top: 5px;
              padding-left: 0;
            };
          }
          &:nth-child(5) {
            width: 36%;
          }
          &:nth-child(6) {
            width: 36%;
          }
        }
      }
    }
  }
  .continue_cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
    .showing_cards {
      width: 19%;
      margin-bottom: 30px;
    }
  }
  .filter {
    display: none;
  }
}

@media screen and (max-width: 1330px) {
  .home_wrapper {
    .products {
      .inner {
        padding: 20px 0 0 20px;
        width: 80%;
        .showing_cards {
          width: 24%;
          margin-bottom: 40px;
        }
      }
      .sidebar {
        width: 20%;
      }
    }
    
    .filter {
      display: none;
    }
  }
}

@media screen and (max-width: 1200px) {
  .home_wrapper {
    .products {
      .inner {
        padding: 25px 0 0 20px;
        width: 78%;

        .showing_cards {
          width: 24%;
          margin-bottom: 40px;
        }

       
      }
      .sidebar {
        width: 30%;
        margin-top: 20px;
        padding: 0;
        .category_ul{
          li{
            padding: 7px 15px;
          }
        }
      }
    }
    .inner{
      .banner{
        .slider_wrapper{
          .slider{
            max-width: 915px;
            .slider_wrapper_slides{
              .slider_text{
                h3{
                  font-size: 41px;
                }
                p{
                  padding-left: 3px;
                }
              }

              .slider_image{
                img{
                  margin-left: 6px;
                  width: 300px;
                  height: 210px;
                }
              }
            }
          }
        }
       }
    }
    
    .filter {
      display: none;
    }
  }
}

@media screen and (max-width: 1000px) {
  .home_wrapper {
    .continue_cards{
      .showing_cards{
        width: 24%;
      }
    }


    .most_cate{
      .cates_wrapper{
        position: relative;
        height: 377px;
        .big_cate{
          width: 45%;
        }
        .small_cates{
          width: 53%;
          flex-wrap: wrap;
          .cate{
            &:nth-child(1){
              width: 100%;
            }
            &:nth-child(2){
              width: 100%;
            }
            &:nth-child(3){
              width: 45%;
              position: absolute;
              bottom: 56px;
              left: 0;
            }
            &:nth-child(4){
              position: absolute;
              width: 45%;
              bottom: -56px;
              left: 0;
            }
            &:nth-child(5){
              position: absolute;
              width: 53%;
              bottom: 56px;
              right: 0;
            }
            &:nth-child(6){
              position: absolute;
              width: 53%;
              bottom: -56px;
              right: 0;
            }
          }
        }
      }
    }




    .inner {
      .banner {
        .slider_wrapper {
          padding-top: 0;
          min-height: 480px;
          .slider{
            max-width: 700px;
            padding-bottom: 0;
            &::before{
              height: 310px;
              top: -30px;
            }
            .slider_wrapper_slides{
              height: 240px;
              .slider_text{
                h3{
                  font-size: 30px;
                  padding: 0 0 10px 0;
                }
                p{
                  font-size: 14px;
                  line-height: 24px;
                  margin-bottom: 30px;
                }
              }
              .slider_image{
                img{
                  width: 257px;
                  height: 195px ;
                }
              }

              .btn_16{
                font-size: 13px;
                width: 100px;
                height: 30px;
                padding:  0;
              }
            }
            .count_slide{
              width: 45px;
              height: 45px;
              bottom: 0; 
              span{
                font-size: 24px;
              }
            }
          }
        }
      }
    }
    .sales_ads{
      margin-bottom: 40px;
    }
    .products {
      .inner {
        padding: 20px 0 0 20px;
        width: 78%;
        .showing_cards {
          width: 24%;
          margin-bottom: 40px;
        }
      }
      .sidebar {
        width: 30%;
        .category_ul{
          li{
            padding: 7px 10px;
            .category_tag{
              min-width: 35px;
              height: 35px;
              font-size: 14px;
            }
            .category_btn{
              width: 110px;
              font-size: 12px;
            }
          }
        }
      }
    }
    .filter {
      display: none;
    }
  }
}

@media screen and (max-width: 950px) {
  .home_wrapper {
    .products {
      .inner {
        padding: 20px 0 0 20px;
        width: 70%;
        .showing_cards {
          width: 32%;
          margin-bottom: 20px;
        }
      }
      .sidebar {
        width: 30%;
      }
    }
    .filter {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .home_wrapper {
    .continue_cards{
      display: none;
    }
    background-color: #fff;
    .sales_ads {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;
      overflow-x: scroll;
      overflow-y: hidden;
      height: 160px;
      .sale_card {
        min-width: 80%;
        img {
          width: 100%;
        }
      }
    }

    .products {
      .inner {
        display: block;
        width: 100%;
        padding: 0;
        .showing_cards{
          display: none;
        }
        .most_cate{
          width: 100%;
        }
      }
      .sidebar {
        display: none;
      }
    }
    .result_header {
      display: none;
    }
    .filter {
      display: block;
      margin-top: 40px;
      h1 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 118%;
        color: #393a3f;
        text-align: center;
        margin: 20px 0;
      }
      .filter_btn {
        button {
          display: flex;
          align-items: center;
          padding: 7px 20px;
          box-sizing: border-box;
          border: 2px solid #393a3f;
          border-radius: 15px;
          span {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            display: block;
            margin-right: 36px;
          }
        }
      }
      .filter_results {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .showing_cards {
          width: 32%;
          margin-bottom: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .home_wrapper{
    .inner {
      .banner {
        .slider_wrapper {
          padding-top: 0;
          .slider{
            max-width: 700px;
            padding: 50px 0;
            &::before{
              width: 100%;
              height: 380px;
              top:100px;
              right: auto;
            }
            .slider_wrapper_slides{
              height: 240px;
              .bla_bla{
                flex-direction: column-reverse;
              }
              .slider_text{
                width: 100%;
                h3{
                  font-size: 22px;
                  text-align: center;
                  width: 100%;
                }
                p{
                  font-size: 18px;
                  font-weight: 600;
                  text-align: center;
                  height: 108px;
                  width: 100%;
                  line-height: 27px;
                  overflow: hidden;
                  padding-left: 0;
                  width: 80%;
                  margin: 0 auto;
                }
              }
              .slider_image{
                width: 100%;
                img{
                  margin: 0 auto;
                  width: 214px;
                  height: 143px ;
                }
              }

              .btn_16{
                font-size: 13px;
                width: 100px;
                height: 30px;
                padding:  0;
                display: block;
                margin: 20px auto 0 auto;
                text-align: center;
              }
            }
            .count_slide{
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .home_wrapper {
    .sales_ads {
      height: 130px;
    }
    .inner {
      // .banner {
      //   height: auto;
      //   .slider_wrapper {
      //     background-image: none !important;
      //     height: 270px;
      //     border-radius: 20px;
      //     overflow: hidden;
      //     background-color: #f7c16e;
      //     .slider_cards {
      //       position: relative;
      //       display: flex;
      //       align-items: center;
      //       justify-content: center;
      //       flex-direction: column-reverse;
      //       text-align: center;
      //       padding: 0;
      //       h1 {
      //         font-size: 18px;
      //         line-height: 150%;
      //         width: 100%;
      //         text-align: center;
      //         margin-bottom: 15px;
      //         padding: 0 20px;
      //       }
      //       img {
      //         position: static;
      //         width: 200px;
      //         height: 123px;
      //       }
      //       button {
      //         padding: 10px 30px;
      //         font-size: 16px;
      //         line-height: 21px;
      //       }
      //     }
      //   }
      // }
    }
    .filter {
      
      .filter_results {
        .showing_cards {
          width: 48%;
        }
      }
    }
  }
}
