.slider_container .slick-arrow::before {
  display: none !important;
}
.slider_container .slick-arrow {
  bottom: -30px !important;
  top: auto;
  width: 47px !important;
  height: 30px !important;
}

.slider_container .slick-arrow svg{
  width: 45%;
  height: 45%;
}

.slider_container .slick-arrow svg circle {
  opacity: 0 !important;  
}

.slider_container .slick-prev {
  right: 63px !important;
  z-index: 1;
  left: auto;
  background-color: rgb(102, 102, 102);
  border-radius: 15px 0 0 15px;
}

.slider_container .slick-next {
  right: 16px !important;
  border-radius: 0 15px 15px 0;
  background-color: #fff;
}

.slider_container .slick-next svg{
  transform: rotate(180deg);
}

.slider_container .slick-dots {
  bottom: -50px !important;
}

.slider_container .slick-dots li button {
  width: 8px !important;
  height: 8px !important;
  background-color: #fff !important;
  border-radius: 50% !important;
  padding: 0 !important;
}

.slider_container .slick-dots li button::before {
  display: none !important;
}
.slider_container .slick-dots li {
  margin: 0 !important;
}

.slider_container .slick-dots li.slick-active button {
  background-color: #ff9a00 !important;
}

@media screen and (max-width: 1024px) {
  .slick-slider,
  .slick-list {
    height: 100% !important;
  }
  .slick-dots {
    bottom: 10px !important;
  }

  .slider_container .slick-arrow {
    bottom: -90px !important;
    width: 35px !important;
    height: 25px !important;
  }

  .slider_container .slick-next{
    right: 20px !important;
  }
  .slider_container .slick-prev{
    right: 55px !important;
  }
  .slick-arrow svg {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .slick-arrow {
    top: 380px !important;
    z-index: 999;
  }
  .slick-arrow {
    width: 45px !important;
    height: 45px !important;
  }
  .slick-arrow svg {
    width: 45px !important;
    height: 45px !important;
  }

  .slick-prev {
    display: none !important;
  }

  .slick-next {
    display: none !important;
  }
  .slick-dots {
    margin-bottom: -10px;
  }
  .slick-dots li button {
    width: 7px !important;
    height: 7px !important;
    padding: 0 !important;
  }
  .slick-dots li {
    width: 15px !important;
    height: 15px !important;
  }
}
