.Writers_wrapper{
    .writers_wrapper{
        .see_more{
            display: none;
        }
        .writers_container{
            h1{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 49px;
                color: #000000;
                text-align: center;
                margin-bottom: 40px;
                margin-top: 60px;
            }
            .writers_card_wrapper{
                display: flex;
                align-items: center;
                margin-bottom: 80px;
                .card{
                    width: 33.33%;
                    display: flex;
                    flex-direction: column;
                    &:nth-child(2){
                        flex-direction: column-reverse;
                        .top_place{
                            background-color: #F4AC3E;   
                        }
                    }
                    .top_place{
                        background: #393A3F;
                        height: 279px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        padding: 0 22px;
                        h3{
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 32px;
                            line-height: 39px;
                            color: #FFFFFF;
                            margin-bottom: 15px;
                        }
                        p{
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 25px;
                            line-height: 30px;
                            text-align: center;
                            color: #FFFFFF;
                            margin-bottom: 40px;
                        }
                        .single_navigate_link{
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 22px;
                            color: #FFFFFF;
                            position: relative;
                            &::before{
                                position: absolute;
                                content: '';
                                right: -13px;
                                top: 0;
                                bottom: 0;
                                margin: auto;
                                width: 8px;
                                height: 15px;
                                background-position: center;
                                background-size: contain;
                                background-image: url('../../assets/icons/more.png');
                            }
                        }
                    }
                    .bottom_place{
                        width: 100%;
                        height: 279px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px){
    .Writers_wrapper{
        .writers_wrapper{
            .pag{
                display: none;
            }
            .see_more{
                display: block;
                width: 100%;
                &:last-child{
                    margin-bottom: 40px;
                }
                button{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 16px;
                    color: #000000;
                    background: #ECEBEB;
                    border-radius: 20px;
                    width: 100%;
                    padding: 12px 0;
                }
            }
            .writers_container{
                h1{
                    font-size: 24px;
                    line-height: 36px;
                    margin-bottom: 29px;
                    margin-top: 40px;
                }
                .writers_card_wrapper{
                    margin-bottom: 30px;
                    flex-wrap: wrap;
                    .card{
                        width: 50%;
                        height: 300px;
                        display: flex;
                        flex-direction: column;
                        &:nth-child(3){
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            height: 150px;
                            .top_place{
                                width: 50%;
                            }
                            .bottom_place{
                                width: 50%;
                            }
                        }
                        .top_place{
                            height: 150px;
                            padding: 12px 5px;
                            box-sizing: border-box;
                            h3{
                                font-size: 18px;
                                line-height: 21px;
                                margin-bottom: 10px;
                                text-align: center;
                            }
                            p{
                                font-size: 14px;
                                line-height: 17px;
                                margin-bottom: 20px;
                            }
                            .single_navigate_link{
                                font-size: 12px;
                                line-height: 14px;
                                &::before{
                                    width: 4px;
                                    background-repeat: no-repeat;
                                }
                            }
                        }
                        .bottom_place{
                            width: 100%;
                            height: 150px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}