.footer_wrapper{
    background: #232323;
    padding: 40px 0 46px 0;
    box-sizing: border-box;
    .inner{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .block{
            width: 33%;
            .logo_link{
                font-family: 'montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 35px;
                line-height: 51px;
                color: #FFFFFF;
                margin-bottom: 25px;
                display: block;
                text-align: left;
            }
            .footer_link{
                font-family: 'montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                color: #FFFFFF;
                margin-bottom: 8px;
                display: block;
                text-align: left;
            }
            ul{
                font-family: 'montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
                line-height: 43px;
                color: #FFFFFF;
                .locations{
                    font-family: 'montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 30px;
                    color: #FFFFFF;
                    display: block;
                    padding-left: 20px;
                }
                .locations_li{
                    display: flex;
                    margin-top: 10px;
                    align-items: center;
                    &:first-child{
                        margin-top: 20ppx;
                    }
                    svg{
                        width: 20px;
                    }
                }
            }
            .connection_header{
                h4{
                    font-family: 'montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 39px;
                    color: #F7A302;
                    margin-bottom: 10px;
                }
                span{
                    font-family: 'montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 27px;
                    color: #FFFFFF;
                    display: block;
                    margin-bottom: 19px;
                }
                form{
                    max-width: 370px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    input, textarea{
                        width: 100%;
                        font-family: 'montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 21px;
                        padding: 12px 19px;
                        box-sizing: border-box;
                        background: #ffffff;
                        border-radius: 10px;
                        margin-bottom: 15px;
                        border: none;
                        outline: none;
                        transition: .2s;
                        border: 1px solid transparent;
                        &::placeholder{
                            color: #A4A3A3;
                        }
                        &:focus{
                            background-color: transparent;
                            border: 1px solid #ffffff;
                            color: #fff;
                        }
                    }
                    textarea{
                        height: 119px;
                        box-sizing: border-box;
                        margin-bottom: 30px;
                    }
                    button{
                        font-family: 'montserrat';
                        padding: 10px 40px;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 27px;
                        color: #FFFFFF;
                        background: #F7A302;
                        border-radius: 20px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1024px) {
    .footer_wrapper{
        padding: 21px 30px 0;
        .inner{
            .block{
                .logo_link{
                    font-size: 18px;
                    line-height: 26px;
                    margin-bottom: 15px;
                }
                .footer_link{
                    font-size: 12px;
                    line-height: 14px;
                    margin-bottom: 10px;
                }
                ul{
                    font-size: 18px;
                    line-height: 21px;
                    svg{
                        width: 13px;
                        height: 17px;
                    }
                    .locations{
                        font-size: 12px;
                        line-height: 14px;
                        padding-left: 18px;
                    }
                    .locations_li{
                        margin-top: 15px;
                    }
                }
                .connection_header{
                    h4{
                        font-size: 15px;
                        line-height: 18px;
                        margin-bottom: 5px;
                    }
                    span{
                        font-size: 11px;
                        line-height: 13px;
                        margin-bottom: 15px;
                    }
                    form{
                        max-width: 370px;
                        input, textarea{
                            font-size: 10px;
                            line-height: 9px;
                            padding: 10px;
                        }
                        textarea{
                            height:80px;
                        }
                        button{
                            padding: 8px 21px;
                            font-size: 11px;
                            line-height: 13px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px){
    .footer_wrapper{
        padding: 30px 0 72px 0;
        .inner{
            flex-direction: column;
            .block{
                width: 100%;
                margin-bottom: 40px;
                &:last-child{
                    margin-bottom: 0;
                }
                &:nth-child(1){
                    margin-bottom: 30px;
                }
                .logo_link{
                    font-family: 'montserrat';
                }
                .footer_link{
                    font-family: 'montserrat';
                    font-size: 20px;
                    line-height: 24px;
                }
                ul{
                    font-family: 'montserrat';
                    font-size: 26px;
                    line-height: 31px;
                    .locations{
                        font-family: 'montserrat';
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
                .connection_header{
                    h4{
                        font-family: 'montserrat';
                        font-size: 26px;
                        line-height: 32px;
                    }
                    span{
                        font-family: 'montserrat';
                        font-size: 18px;
                        line-height: 22px;
                    }
                    form{
                        max-width: 100%;
                        input, textarea{
                            padding: 18px;
                            font-size: 17px;
                            line-height: 20px;
                        }
                        textarea{
                            height: 140px;
                        }

                        button{
                            padding: 12px 36px;
                            font-size: 17px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
    
}