.UniqueEdition_wrapper{
    margin-top: 60px;
    h1{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 49px;
        color: #000000;
        margin-bottom: 40px;
        text-align: center;
    }
    .UniqueEdition_books{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        .book{
            width: 24%;
            margin-bottom: 60px;
        }
    }
}

@media screen and (max-width:500px){
    .UniqueEdition_wrapper{
        margin-top: 60px;
        h1{
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 30px;
        }
        .UniqueEdition_books{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: flex-start;
            .book{
                width: 49%;
                margin-bottom: 30px;
            }
        }
    }
}