.Work_wrapper{
    overflow-x: hidden;
    .holder{
        text-align: center;
        margin: 60px 0 40px 0;
    }
    .inner{
        position: relative;
        .work_cards{
            
            padding: 40px;
            width: 100%;
            box-sizing: border-box;
            background: #FFFFFF;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            margin-bottom:  40px;
            .top{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;
                h4{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 37px;
                    color: #000000;
                }
            }
            .middle{
                display: flex;
                align-items: center;
                gap: 45px;
                margin-bottom: 40px;
                h5{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 27px;
                    color: #444343;
                }
            }
            p{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                line-height: 150%;
                color: #000000;
                margin-bottom: 45px;
            }
            .bottom{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .btns{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 45px;
                    button, .single_link{
                        background: #135EF2;
                        border-radius: 20px;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 27px;
                        color: #FFFFFF;
                        padding: 12px 33px;
                        
                    }
                    .single_link{
                        background:  #0D378C;
                    }
                }
                .views{
                    display: flex;
                    align-items: center;
                    gap: 28px;
                    span{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 27px;
                        color: #444343;
                    }
                }
            }
        }
    }
}

.full_content{
    position: relative;
    top: 0;
    margin: 60px 80px;
    h2{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 46px;
        color: #000000;
        position:relative;
        &::before{
            width: 1000%;
            position: absolute;
            content: '';
            height: 1px;
            background-color:#77A1D9;
            bottom: -28px;
            left: -100%;
        }
    }
    .info{
        padding-top: 60px;
        h3{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 37px;
            color: #000000;
            margin-bottom: 25px;
        }
        span{
            margin-bottom: 40px;
            display: block;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 27px;
            color: #444343;
        }
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 150%;
            margin-bottom: 40px;
            color: #000000;
        }
        ul{
            display: flex;
            align-items: center;
            gap: 15px;
            margin-bottom: 25px;
            li{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 28px;
                line-height: 34px;
                color: #000000;
                &:nth-child(2){
                    font-weight: 400;
                }
            }
        }
        button{
            background: #135EF2;
            border-radius: 20px;
            padding: 12px 22px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 27px;
            color: #FFFFFF;
            margin-top: 60px;
        }
    }
}