.enter_profile {
  padding: 6px 23px;
  background: #f7a302;
  border-radius: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 25px;
  display: block;
}
.menu_ul {
  height: 100%;
  li {
    border-bottom: 1px solid rgb(241, 241, 241);
    display: block;
    padding: 10px 0;
    &:last-child {
      border-bottom: 1px solid transparent;
    }
    .menu_link {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 30px;
      color: #161616;
      position: relative;
    }
    .menu_heading{
        display: flex;
        align-items: center;
        gap: 10px;
    }
  }
}

.mini_items,
.mini_items2,
.mini_items3 {
  ul {
    li {
      border-bottom: none;
      padding: 0 0 0 20px;
      button {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 27px;
        color: #737171;
      }
    }
  }
}

.mini_items2,
.mini_items3 {
    transition: 0.2s;
    height: 0;
    overflow: hidden;
    &.active {
      height: 82px;
    }
}
.mini_items {
    height: 0;
    transition: 0.2s;
    overflow: hidden;
    &.active {
      height: 271px;
    }
}
