.Humburger{
    width: 375px;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    z-index: -1;
    transition: .3s;
    box-sizing: border-box;
    padding: 40px 30px;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
    &.active{
        z-index: 1111;
    }
}
@media screen and (max-width:768px) {
    .Humburger{
        width: 275px;
        padding: 30px 20px;
    }
}