.Header_wrapper{
    background: #222;
    padding: 20px 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    .inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header_navs{
            position: relative;
            .logo{
                margin-left: 10px;
                .logo_link{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 35px;
                    line-height: 25px;
                    color: #FFFFFF;
                }
            }
            .header_links{
                display: flex;
                align-items: center;
                gap: 50px;
                .link{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    color: #FFFFFF;
                }
            }
            &.burger{
                display: flex;
                align-items: center;
                .burger_btn{
                    cursor: pointer;
                }
                .burger_btn_two{
                    display: none;
                }
            }
        }
        .header_navs_term{
            display: flex;
            align-items: center;
            gap: 20px;
            .lang{
                width: 40px;
                button{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 27px;
                    color: #FFFFFF;
                    cursor: pointer;
                }
            }
        }
    }
}

.search_engine{
    position: absolute;
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    min-height: 100vh;
    top: 0;
    display: none;
    transition: .2 all;
    opacity: 0;
    &.active{
        display: block;
        z-index: 999;
        opacity: 1;
    }
    .inner{
        display: flex;
        width: 70%;
        align-items: center;
        margin: 40px auto 0 auto;
        justify-content: center;
        gap: 30px;
        input{
            width: 70%;
            background-color: #2d2c32;
            padding: 0.5rem 3rem 0.5rem 1rem;
            font-size: 1rem;
            font-weight: 600;
            color: #fff;
            border-radius: 4px;
            border: 1px solid transparent;
            &:focus-visible{
                border: 1px solid #a4a4a4;
            }
        }
        position: relative;
        .close{
            position: absolute;
            right: 60px;
        }
    }
    .search_results{
        width: 54%;
        margin: 10px auto 0 auto;
        box-sizing: border-box;
        background-color: #2d2c32;
        border-radius: 5px;
        .result_cards{
            display: flex;
            padding:  10px;
            align-items: center;
            border-bottom: 1px solid #252525;
            justify-content: space-between;
            transition: .2s;
            &:hover{
                background-color: #413f48;
            }
            &:nth-child(3){
                border-bottom: none ;
            }
            img{
                width: 70px;
                height: 90px;
                border-radius: 4px;
            }
            .name{
                display: flex;
                gap: 20px;
                align-items: center;
                h3{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: #F7A302;
                    max-width: 250px;
                }
                span{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 22px;
                    color: #fff;
                }
            }
            .info{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                span{
                    &:nth-child(1){
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 22px;
                        color: #fff;
                    }
                    &:nth-child(2){
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 22px;
                        color: #fff;
                        position: relative;
                        &::before{
                            position: absolute;
                            left: -15px;
                            top: -2px;
                            bottom: 0;
                            margin: auto;
                            background-size: contain;
                            background-repeat: no-repeat;
                            width: 13px;
                            height: 13px;
                            content: '';
                            background-image: url('../../assets/icons/Vector (1).png');
                        }
                    }
                }
            }
        }
    }
}



button{
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .Header_wrapper{
        padding: 20px 0 15px 0;
        .inner{
            .header_navs{
                position: relative;
                .header_links{
                    display: none;
                }
                &.burger{
                    display: flex;
                    align-items: center;
                    width: 70%;
                    justify-content: space-between;
                    .burger_btn{
                        display: none;
                    }
                    .burger_btn_two{
                        display: block; 
                    }
                }
            }
            .header_navs_term{
                display: flex;
                align-items: center;
                gap: 10px;
                .lang{
                    width: 40px;
                    display: none;
                    button{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 22px;
                        line-height: 27px;
                        color: #FFFFFF;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}