.App{
    position: relative;
    transition: .3s;
    &.active{
        transform: translate(375px, 0);
        &::before{
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: .50;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 111;
        }
    }
}

.cursor{
    width: 10px;
    height: 10px;
    background-color: red;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .App{
        &.active{
            transform: translate(275px, 0);
        }
    }
}